.section {
    position: relative;
    min-height: 100vh;
    padding: 80px;
    background: radial-gradient(circle at top left, #3b2f12, #000);
    color: #c6c5af;
}

.heading {
    font-size: 64px;
    margin-bottom: 40px;
}

/* LAYOUT */
.wrapper {
    display: flex;
    gap: 60px;
}

/* TIMELINE */
.timeline {
    position: relative;
    width: 40px;
}

.baseLine {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(-50%);
}

.progressLine {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    background: #d2a100;
    transform: translateX(-50%);
    transition: height 0.5s ease;
}

.dot {
    position: absolute;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #3b3930;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}

.dot.active {
    background: #d2a100;
    box-shadow: 0 0 0 6px rgba(210, 161, 0, 0.25);
}

/* SWIPER */
.swiper {
    height: 680px;
    width: 100%;
}

.slide {
    max-width: 650px;
}

.date {
    font-size: 14px;
    color: #d2a100;
    margin-bottom: 10px;
}

.slide h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.slide p {
    font-size: 16px;
    line-height: 1.6;
}

.imageBox {
    margin-top: 20px;
}

.imageBox img {
    width: 100%;
    /* height: 320px; */
    object-fit: cover;
    /* border-radius: 12px; */
    opacity: 0.9;
}



/* ================= RESPONSIVE ================= */

/* Tablets */
@media (max-width: 1024px) {
    .section {
        padding: 60px 40px;
    }

    .heading {
        font-size: 48px;
    }

    .wrapper {
        gap: 40px;
    }

    .swiper {
        height: 460px;
    }

    .slide h3 {
        font-size: 26px;
    }

    .imageBox img {
        /* height: 260px;/ */
    }
}

/* Mobile */
@media (max-width: 768px) {
    .section {
        padding: 40px 20px;
    }

    .heading {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .wrapper {
        flex-direction: column;
    }

    /* Timeline hide on mobile */
    .timeline {
        display: none;
    }

    /* .swiper {
        height: auto;
        
    } */

    .slide {
        max-width: 100%;
    }

    .slide h3 {
        font-size: 22px;
    }

    .slide p {
        font-size: 14px;
    }

    .imageBox img {
        /* height: 220px; */
    }
}

/* Small phones */
@media (max-width: 480px) {
    .heading {
        font-size: 28px;
    }

    .imageBox img {
        /* height: 180px; */
    }
}